{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
   
        <h1>AMAPs</h1>
           
        <div class="" style="width:100%;float:left">
            <h1>Créer une amap</h1>
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}