{% extends "FSOUserBundle.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="container">
        <div class="col-sm-12">
            <h1>Connexion</h1></br>

			<form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="form-group">
				    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="row">
                        <div class="col-sm-2" style="font-size: 20px;">
					    	Utilisateur
					    </div>
                        <div class="col-sm-8">
					    	<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
					    </div>
					</div>

                    <div class="row">
                        <div class="col-sm-2" style="font-size: 20px;">
					    	Mot de passe
					    </div>
                        <div class="col-sm-8">
					    	<input class="form-control" type="password" id="password" name="_password" required="required" />
					    </div>
					</div></br>

                    <div class="col-sm-5"></div>
				    <input class="btn btn-success col-sm-2" type="submit" id="_submit" name="_submit" value="Connection" />
				</div>
			</form>
		</div>
	</div>
{% endblock body %}
