{% extends 'base.html.twig' %}

{% block body %}
    <!-- Banner -->
	<div id="banner">
		<section class="container">
			<h2>AMAP</h2><br/><br/>
			<span>Bienvenue sur le site de gestion des AMAP</span>
			<p>Ce site a été développé en partenariat avec la société BF2M.</p>
		</section>
	</div></div>

	<div class="container" style="text-align: center">
            <br/>
            <div class="" style="width:100%;float:left">
                <h1>SELECTION D'UNE AMAP</h1><br/>
                {{ form_start(form) }}

                {{ form_end(form) }}
            </div>
	</div>
        <br/>
{% endblock %}