{% extends 'base.html.twig' %}

{% block body %}
        <!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2>AMAP</h2>
                                                <br/><br/>
						<span>Design by Templated</span>
						<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna.</p>
					</section>
				</div>

			</div>
	<div class="container" style="text-align: center">
            <br/>
            <div class="" style="width:100%;float:left">
                <h1>SELECTION D'UNE AMAP</h1>
                {{ form_start(form) }}

                {{ form_end(form) }}
            </div>
	</div>
        <br/>
{% endblock %}